body {
    background-color: purple;
    color: rgb(0, 238, 255);
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: white;
    color: black;
    font-size: 80%;
    font-family: "Poppins", sans-serif;
    border-bottom: 5cap;

}

.passo {
    display: none;
}

.passo.ativo {
    display:  block;
}

main {
    text-align: center;
    max-width: 100%;
}

img {
    max-width: 80%;
}